#header {
    position: relative;
    color: black;
    text-align: center;
    background-color: lightblue;
    font-size: 30;
    margin: 0%;
    border: 1px solid grey;
    height: 60px;
    width: 100%;
}

#footer {
    background-color: lightblue;
    position: relative;
    bottom: 0%;
    width: 100%;
    border: 1px solid grey;
    text-align: center; 
}